//- extends layouts/main
extends layouts/noright

block mainpage
    .row.pt-md-4
        each post in posts
            .col-md-12
                .blog-entry.ftco-animate.d-md-flex
                    a.img.img-2(href=post.href style='background-image: url('+post.coverImage+');')
                    .text.text-2.pl-md-4
                        h3.mb-2
                            a(href=post.href)= post.title
                        .meta-wrap
                            p.meta
                                span
                                    i.icon-calendar.mr-2
                                    = post.created_at.toDateString()
                                span
                                    each cat in post.categories
                                        a(href=cat.href)
                                            i.icon-folder-o.mr-2
                                            = cat.name
                                span
                                    i.icon-comment2.mr-2
                                    = post.comments.length
                                    |  Comment
                        p.mb-4
                            = post.shortContent
                        p
                            a.btn-custom(href=post.href)
                                | Read More 
                                span.ion-ios-arrow-forward

    if pages > 1
        .row
            .col
                .block-27
                    ul#pagination
                        li
                            if page - 1 > 0
                                a(href='?page=' + (page - 1)) &lt;
                            else
                                a(href='javascript:void(0);') &lt;

                        each val, idx in numbers
                            if idx > 0 && val - numbers[idx - 1] > 1
                                li
                                    a(href='javascript:void(0);') ...
                            if val != page
                                li
                                    a(href='?page='+val)= val
                            else
                                li
                                    a(href='javascript:void(0);' style='background: #1eafed; color: white;')
                                        = val

                        li
                            if page <= pages
                                a(href='?page=' + (Number(page) + 1)) &gt;
                            else
                                a(href='javascript:void(0);') &gt;
